@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik-700.woff2") format("woff2");
  font-display: swap;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
}

.page-header {
  background-color: #ffe17f;
  color: #000000;
}

.user-menu-link {
  font-family: "Rubik", sans-serif;
  color: inherit;
  font-weight: 400;
}

.user-menu-link-logout {
  color: #000000;
  opacity: 0.3;
}

.search-main {
  font-family: "Rubik", sans-serif;
  line-height: 20px;
  font-weight: 400;
}

.search-main-button {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}

.search-input::placeholder {
  color: #000000;
}

.cart-number {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  align-items: center;
  text-align: center;
  color: #000000;
}

.navigation-link {
  line-height: 21px;
  color: inherit;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.promo-heading {
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.promo-description {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #444444;
}

.promo-characteristic-list {
  font-family: "Rubik", sans-serif;
}

.promo-characteristic-description {
  font-size: 36px;
  color: #000000;
}

.promo-characteristic-term {
  font-size: 16px;
}

.categories-link {
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
}

.services {
  background-color: #f0f0f0;
}

.services-info-heading {
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.services-info-description {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

.services-controls-button {
  font-weight: 800;
  text-transform: uppercase;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #000000;
  background-color: #ffe17f;
}

.on-order-product {
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  background-color: #f0f0f0;
}

.about-us-heading {
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.contacts-heading {
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.about-us-description {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

.about-us-companies {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  line-height: 20px;
  color: #000000;
  letter-spacing: -0.02em;
}

.contacts-paragraph {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.contacts-info-heading {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.contacts-phone {
  text-decoration-line: underline;
  color: #444444;
}

.subscription {
  background-color: #f0f0f0;
}

.subscription-heading {
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.subscription-email {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

.subscription-description {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

.subscription-info {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

.subscription-button {
  font-weight: 800;
  line-height: 21px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.main-catalog {
  color: #000000;
}

.main-catalog a {
  color: #000000;
}

.inner-header-heading {
  font-size: 50px;
  line-height: 50px;
}

.breadcrumbs-link {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.catalog-filter {
  background-color: #f0f0f0;
}

.sorting {
  background-color: #f0f0f0;
}

.products-catalog {
  background-color: #ffffff;
}

.products-catalog-list {
  background-color: #ffffff;
}

.pagination {
  background-color: #ebebeb;
}

.catalog-filter-header {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.select-control {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.sorting-item {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-filter-title {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  line-height: 20px;
}

.catalog-filter-label {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  opacity: 0.3;
}

.catalog-button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: #ffe17f;
}

.control-label {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.products-catalog-card-title {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  font-size: 18px;
}

.product-catalog-info-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: #ffe17f;
}

.products-catalog-card-price {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 21px;
  text-align: right;
  color: #444444;
}

.pagination-show-more {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
}

.pagination-link , .pagination-dots {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #444444;
  opacity: 0.3;
}

.pagination-prev {
  line-height: 21px;
  align-items: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.pagination-next {
  line-height: 21px;
  align-items: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.page-footer {
  background-color: #444444;
}

.footer-address {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-style: normal;
}

.footer-navigation-link {
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 21px;
}

.footer-phone {
  color: #ffffff;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 20px;
  font-size: 16px;
  text-decoration-line: underline;
}

.button-yellow {
  text-transform: uppercase;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #000000;
  background-color: #ffe17f;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
